$blue: #0069D9 !important;
$wine-light: #F8E0EC !important;
$blue-light: #138496 !important;
$blue-light-plus: #17A2B8 !important;
$blue-soft:#84CCFC !important;
$gray-light: #EEEEEE !important;
$gray: #151515 !important;
$white: #ffffff !important;
$rose:#FCD4E4 !important;
$green: #4caf50;
$gray-soft: #DCDCDC;
$yellow-soft: #FCFCBC;

$featured : #01A9DB;


:root {
  --blue: #{$blue};
  --wine-light: #{$wine-light};
  --blue-light: #{$blue-light};
  --blue-light-plus: #{$blue-light-plus};
  --gray-light: #{$gray-light};
  --gray: #{$gray};
  --white: #{$white};
  --rose: #{$rose};
  --featured: #{$featured};
  --green: #{$green};
  --blue-soft: #{$blue-soft};
  --gray-soft: #{$gray-soft};
  --yellow-soft: #{$yellow-soft};
  }
