@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

*{
	font-family: 'Muli' !important, sans-serif ;
}

.btn{
  //border-radius: 0 !important;
}
 .btn-primary {
   background: $blue-light-plus;
   &:hover{
     background: $blue-light;
   }
   font-size: 12pt;
 }

 h1{
   font-family: 'Luckiest Guy', cursive !important;
 }
